body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('./images/shoe.jpg');
    background-size: cover;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* 让容器充满视口高度 */
}


.pet {
    width: 300px; /* 调整宠物和背包的宽度 */
    height: 300px; /* 调整宠物和背包的高度 */
    z-index: 2; 
}

.progress-bar {
    width: 200px;
    height: 20px;
    background-color: #ddd;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 10px;
}

.progress {
    height: 100%;
    background-color: #fff; /* 初始为白色 */
}

.bag {
    width: 200px; /* 调整宠物和背包的宽度 */
    height: 200px; /* 调整宠物和背包的高度 */
    margin-top: 5px;
}

button {
    margin-top: 10px; /* 调整按钮顶部间距 */
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgb(237, 97, 242);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(249, 8, 177);
}

#exp {
    color: rgb(8, 7, 7); /* 设置文本颜色为白色 */
    margin-top: 10px; /* 调整经验值文本顶部间距 */
}

.wallet {
    position: relative;
    display: inline-block;
    margin-top: 10px;
}

.money {
    display: none;
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#myPetsList img {
    width: 50px;
    height: 50px;
}
